/* menú hamburguesa */
.main-hamburger {
    position: absolute;
    top: 25px;
    right: 28px;
    height: 2px;
    width: 24px;
    background: #d0d0d0;
  }
  
  .main-hamburger::before, .main-hamburger::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 24px;
    display: block;
    background: #d0d0d0;
  }
  
  .main-hamburger::before {
    top: -8px;
  }
  
  .main-hamburger::after {
    top: 8px;
  }
  /* fin de menú hamburguesa */
  
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .bg-reverse {
    background-color: #c23376;
    color: #ffffff;
  }
  
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    
  }
  
  nav {
    padding: 14px;
    overflow: hidden;
  }
  
  .nav-left {
    font-size: 1rem;
    float: left;
    padding-left: 35px;
  }
  
  .nav-right {
    float: right;
  }
  
 header h1 {
    font-size: 4rem;
    font-weight: 300;
  }
  
  header h2 {
    font-size: 4.5rem;
    font-weight: 300;
  }
  
  .text-center {
    text-align: center;
  }
  
  .bg-header {
    background-image: url('../assets/img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 5rem 0;
  }

  .col-section {
    width: 100%;
  }
  
  .view-mobile {
    display: block;
  }
  
  .view-desktop {
    display: none;
  }

  .section{
    margin: 0 1rem;
}

.senior-column{
  /* outline: 1px solid blue; */
  padding-top: 20px;
}

.senior-column p{
   margin:15px 0;
   /* outline: 1px solid blue; */
}

  
  /* estilos solo para desktop*/
  ul li {
    display: inline-block;
    padding: 5px 15px;
  }

  .minor-column{
    /* outline: 1px solid red; */
    padding-top: 20px;
 }

 .container-big{
  /* outline: 1px solid blue; */
  overflow: auto;
  margin-top: 10px;

}

.container-small{
   /* outline: 1px solid green; */
   overflow: hidden;
   padding-bottom: 30px;
}

.image{
  width: 100%;
}

.three-columns{
  width: 100%;
  border: 1px solid #AAAFC8;
  margin-bottom: 30px;
}

.information{
  border-bottom: 1px solid rgb(191, 197, 224);
  padding: 20px;
  
}

.information p:nth-child(1){
  font-size: 25px;
  color: rgb(110, 44, 71);
  font-weight: 500;
}

.button{
  padding: 20px;
  background: rgb(208, 220, 226) ;
}

.link{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(228, 35, 125);
  font-weight: 500;
  text-decoration: none;
}

.information-small{
  margin: 15px 0;
}

.fa-phone::before, .fa-envelope-o::before{
  color:rgb(216, 39, 128);
  font-size: 1.5rem;
  margin-right: 8px;
}
   
  footer {
    padding: 1.5rem;
  }
  
 
  
  @media (min-width: 768px) {

    section {
      overflow: auto;
      display: flex;
      margin: 0 7rem;
    }

    .overlay {
      padding: 10rem 0;
    }
    
    .view-mobile {
      display: none;
    }
    
    .view-desktop {
      display: block;
    }

    .senior-column{
      width: 58.333333333333336%;
      float: left;
  }

  .minor-column{
      width: 41.66666666666667%;
      float: left;
      padding-left: 80px;
  }
  
  .three-columns{
      width: 31.3333333%;
      float: left;
      /* margin-right: 20px; */
  }

  .margin{
      margin-left: 3%;
  }    
  }
  
  @media (min-width: 1200px) {
    section{
      margin: 0 10rem;
    }
  }